header {
	height: 740px; 
	text-align:center;
}



#imgpresentasjon
{
 
}
#payeximg
{
	height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 100px; 

}

.imgfinish {
	border-radius: 1em;
}
